html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root { 
  background-color: black;
}

body{
  margin: 0;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
